<%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>



    <div class="section">

    <form action="/auth" method="post">
            <input  name='name'type="text" placeholder='Имя'>
            <input  name='password' type="password" placeholder='Пароль'>
            <input class="form-button" type="submit" value="Войти">
    </form>

    </div>


<%- include('particles/footer.ejs') %>