<%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>

<form action="/new_cat" method="post">
    <div class="form-group">
        <label class="form-group__label" for="title">title</label>
        <input class="form-group__input" type="text" id="title" name="title" placeholder="title">
    </div>

    <div class="form-group">
        <label class="form-group__label" for="description">description</label>
        <input class="form-group__input" type="text" id="image" name="description" placeholder="description">
    </div>
    <input class="form-button" type="submit" value="Создать">
</form>

<%- include('particles/footer.ejs') %>